<p> A toy app about future semesters. </p>
<a href="/">Home</a><br>
<p> Here is cute pic </p>
<img src="/bears.gif" width="300" alt="Bears"/><br>
<p> Have a cat .gif </p>
<img src="/cat.gif" width="300" alt="Cat"/><br>
<p> Have a doge .gif </p>
<img src="/doge.gif" width="300" alt="Doge"/>